<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    声明 student对象
          注入：就是赋值的意思
          简单类型：spring规定基本数据类型和字符串String都是简单类型。
            di:给属性赋值
            1. set注入（设置注入）：spring调用类的set方法，你可以在set方法中完成属性赋值
                1）简单类型的set注入
                    <bean id="xx" calss = "yy">
                        <property name = "属性名字" value = "属性值"/>
                        一个property只能给一个属性赋值
                    </bean>
            2.引用类型的注入：spring调用类的set方法
            <bean id="xxx" class="yyy">
                <property name="属性名称" ref="bean的id(对象名称）"/>
            </bean>

    -->

    <bean id="myStudent" class="com.bjpowernode.ba02.Student">
        <property name="name" value="李四"/>
        <property name="age" value="31"/>
        <property name="school" ref="mySchool"/>
    </bean>
    <bean id="mySchool" class="com.bjpowernode.ba02.School">
        <property name="name" value="北京大学"/>
        <property name="address" value="北京海淀区"/>
    </bean>
</beans>