<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--

            引用类型的自动注入：spring框架根据某些规则可以给应用类型赋值
            不用你再给引用类型赋值，使用规则 byName,byType
            1.byName(安名称注入)：autowire="byName" Student类中school属性，同配置文件bean 中 id="school" ，（这个2个地方的school字符串一样，）。且这2个school是同一个类。
            2.byType(安类型注入):autowire="byType"  Student类中school属性的类是Student类。同bean中class是同源关系，这个bean能赋值给引用类型。

            同源：
                1.java类中引用类型的数据类型和bean的class值是一样的
                2.java类中引用类型的数据类型和bean的class的值是父子关系
                3.java类中引用类型的数据类型和bean的class的值是接口和实现类的关系。

    -->
    <bean id="myStudent" class="com.bjpowernode.ba06.Student" autowire="byType">
        <property name="name" value="张莎莎"/>
        <property name="age" value="31"/>
        <!--        <property name="school" ref="mySchool"/>-->
    </bean>

</beans>